---
layout: page
event:
  date: "22nd - 23rd March 2025"
  location: "School of Computer Science, University of Birmingham"
schedule:
  events:
    - day: Saturday
      events:
      - time: "09:00"
        title: Registration
      - time: "11:00"
        title: Opening ceremony
      - time: "12:00"
        title: Hacking begins
      - time: "12:05"
        title: Team building
      - time: "13:00"
        title: Lunch
      - time: "14:00"
        title: AFNOM mini-CTF launch 
      - time: "14:30"
        title: Workshop no. 1
      - time: "16:00"
        title: Chess tournament (qualifiers)
      - time: "17:30"
        title: Workshop no. 2
      - time: "18:30"
        title: Dinner
      - time: "20:00"
        title: Chess tournament (finals)
      - time: "22:00"
        title: Cup stacking
    - day: Sunday
      events:
      - time: "00:00"
        title: Midnight movie screening
      - time: "08:00"
        title: Breakfast
      - time: "11:00"
        title: Devpost registration deadline
      - time: "12:00"
        title: Hacking ends
      - time: "12:15"
        title: Lunch
      - time: "13:00"
        title: Judging begins
      - time: "15:00"
        title: Closing ceremony
      - time: "17:00"
        title: Doors close
  final: false
  notes: "birmingHack takes place over both days of the weekend. The event will end no later than 5pm on Sunday."
sponsors:
  - name: Me
    logo: asdf
partners:
#  - name: HackathonsUK
#    logo: /assets/huk-logo-colour.png
#    colour: "eee"
#    url: https://www.hackathons.org.uk
  - name: CSS
    logo: /assets/css-logo-colour-crop.png
    colour: "2f3c63"
    url: https://cssbham.com
  - name: AFNOM
    logo: /assets/afnom-logo.png
    colour: "000000"
    url: https://afnom.net
  - name: AlgoSoc
    logo: /assets/algosoc-logo-colour.png
    colour: "0B0000"
    url: ""
  - name: Games Development Society
    logo: /assets/gds-logo-colour.png
    colour: "fff"
    url: ""
  - name: Guild of Students
    logo: /assets/gos-logo-colour.png
    colour: "eee"
    url: https://guildofstudents.com
  - name: The Univeristy of Birmingham School of Computer Science
    logo: /assets/uob-logo-colour.png
    colour: "eee"
    url: https://cs.bham.ac.uk
faqs:
  - question: What's a hackathon?
    answer: |
      A hackathon is a programming competition where you work in a team to create a project in a short amount of time. 
      It's a great way to learn new skills, meet new people, and have fun!

  - question: How much does it cost?
    answer: 
      Absolutely nothing! birmingHack is free to attend, you just need to register a ticket when they become available.
      Food will also be provided for all attendees.

  - question: Who can attend?
    answer: |
      birmingHack is open to all students aged 18+ at the University of Birmingham, regardless of your course or experience level. 
      Please note that for this inaugural event, we are only able to accept students from the University of Birmingham; for future 
      events, we hope to open up to students from other UK universities.
      
  - question: When will tickets be available?
    answer: |
      Tickets will be available soon! When they do so, we will post an update on Discord and Instagram.

  - question: Why should I attend?
    answer: |
      Because it's fun! If you've ever thought about attending a hackathon before, then birmingHack is a great entry point.
      Plus, it's free ;)
  
  - question: Do I need loads of experience to participate?
    answer: |
      Not at all! birmingHack is a great place to learn, and we will have workshops and people available to help you out.
  
  - question: What should I bring?
    answer: |
      You should bring your laptop, a charger, any other hardware you need, and your student ID. 
      Please note there will not be any hardware available to borrow at the event, nor can we permit soldering equipment inside the building.
      
  - question: How do I get there?
    answer: |
      birmingHack is held at the School of Computer Science at the University of Birmingham. 
      This is located next to University station, and is referred to as Y9 on university maps.
  
  - question: How large can my team be?
    answer: |
      Teams can be up to 4 people to be eligible for prizes. 

  - question: What if I don't have a team?
    answer: |
      No problem! We will have a team building session at the start of the event to help you find one.
  
  - question: When can I start working on my project?
    answer: |
      You can start working on your project as soon as hacking begins at 12:00 on Saturday.
      You're welcome to come up with ideas before then, but we ask you do not start working on your project before this time.

  - question: How does judging work?
    answer: |
      You may submit your project to as many categories as you want on Devpost. 
      After hacking ends, you will demo your project to specific judges from the categories you entered, and a winner
      for each category will be selected.
  

#  - question: ...
#    answer: 
---

<div class="hero-container">
  <div class="hero">
    <img class="logo" src="/assets/birminghack-pathed.svg" />
    <div class="date">
      {{ page.event.date }}
    </div>
    <div class="location">
      {{ page.event.location }}
    </div>
  </div>
</div>

<div class="welcome section">
  <h3>Welcome to birmingHack!</h3>
  <p><b>birmingHack</b> is a 24-hour hackathon hosted by the Computer Science Society at the University of Birmingham. Whether you're 
  a seasoned hacker, or have never participated in a hackathon before, hackathons are a great place to learn some new skills and
  have fun!</p> 
</div>

<div id="sponsors" class="sponsors section">
  <h2 class="section-title">Sponsors</h2>
  <div class="partners-container">
    TBA
  </div>
</div>

<div id="schedule" class="schedule">
  <div class="section">
    <h2 class="section-title">Schedule</h2>
    <p>
      {{ page.schedule.notes }} 
    </p>
    <div class="days">
      {% for day in page.schedule.events %}
      <div class="day">
        <h3 class="header">{{ day.day }}</h3>
        {% for item in day.events %}
        <div class="item">
          <div class="time">
            {{ item.time }}         
          </div>
          <div class="description">
            {{ item.title }} 
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% unless page.schedule-final %}
    <p class="disclaimer">* This schedule is not final; it is subject to change.</p>
    {% endunless %}
  </div>
</div>

<div id="partners" class="partners section">
  <h2 class="section-title">Partners</h2>
  <div class="partners-container">
    <!-- TBA -->
    {% for partner in page.partners %}
      <div class="partner" style="{{ 'background-color: #' | append: partner.colour }}">
        <a href="{{ partner.url }}" target="_blank" title="{{ partner.name }}">
          <img src="{{ partner.logo }}" alt="{{ partner.name }}" height="75" />        
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div id="faqs" class="faqs section">
  <h2 class="section-title">FAQs</h2>
  {% for faq in page.faqs %}
  <details>
    <summary>{{ faq.question }}</summary>
    <p>{{ faq.answer }}</p>
  </details>
  {% endfor %}
</div>

