<div class="navbar">
  <nav>
    {% for item in site.menu %}
      {% if item.children %}
      <div class="dropdown">
        <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
        <div class="dropdown-content">
          {% for sub in item.children %}
          <a href="{{ sub.link }}">{{ sub.name }}</a>
          {% endfor %}
        </div>
      </div>
      {% else %}
        {% if item.name != "Tickets" %}
          <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="tickets" href="/#tickets">Tickets</a>
  </nav>

  {% if include.logo %}
  <a href="/">
    <img src="/assets/birminghack-pathed.svg" height="65" />
  </a>
  {% endif %}
</div>